In [11]:
import pandas as pd

In [12]:
data_ndvi = [['May',3,0.84323],['June',3,0.824573],['July',3,0.320378],['May',5,0.773826],['June',5,0.59776],['July',5,0.661778],['May',48,0.866923],
       ['June',48,0.6865357],['July',48,0.764982],['May',50,0.867683],['June',50,0.828345],['July',50,0.791617],['May',94,0.835853],
       ['June',94,0.7451488],['July',94,0.729657],['May',97,0.8587167],['June',97,0.727397],['July',97,0.306645]]

In [13]:
df_ndvi = pd.DataFrame(data_ndvi, columns=["Month", "Polygon_id","NDVI"])

In [14]:
df_ndvi

   Month  Polygon_id      NDVI
0    May           3  0.843230
1   June           3  0.824573
2   July           3  0.320378
3    May           5  0.773826
4   June           5  0.597760
5   July           5  0.661778
6    May          48  0.866923
7   June          48  0.686536
8   July          48  0.764982
9    May          50  0.867683
10  June          50  0.828345
11  July          50  0.791617
12   May          94  0.835853
13  June          94  0.745149
14  July          94  0.729657
15   May          97  0.858717
16  June          97  0.727397
17  July          97  0.306645

In [15]:
df_smi = [['May',3,0.84323,0.151657],['June',3,0.824573,0.0650379],['July',3,0.320378,0.135063],
          ['May',5,0.773826,0.162878],['June',5,0.59776,0.0650379],['July',5,0.661778,0.135063],
          ['May',48,0.866923,0.162878],['June',48,0.6865357,0.0409779],['July',48,0.764982,0.138233],
          ['May',50,0.867683,0.162878],['June',50,0.828345,0.0409779],['July',50,0.791617,0.138233],
          ['May',94,0.835853,0.186076],['June',94,0.7451488,0.11282],['July',94,0.729657,0.285952],
          ['May',97,0.8587167,0.186076],['June',97,0.727397,0.11282],['July',97,0.306645,0.285952]]

In [16]:
df_smi =pd.DataFrame(data_smi, columns=["Month", "Polygon_id","NDVI","SMI"])

In [33]:
df_smi

   Month  Polygon_id      NDVI       SMI
0    May           3  0.843230  0.151657
1   June           3  0.824573  0.065038
2   July           3  0.320378  0.135063
3    May           5  0.773826  0.162878
4   June           5  0.597760  0.065038
5   July           5  0.661778  0.135063
6    May          48  0.866923  0.162878
7   June          48  0.686536  0.040978
8   July          48  0.764982  0.138233
9    May          50  0.867683  0.162878
10  June          50  0.828345  0.040978
11  July          50  0.791617  0.138233
12   May          94  0.835853  0.186076
13  June          94  0.745149  0.112820
14  July          94  0.729657  0.285952
15   May          97  0.858717  0.186076
16  June          97  0.727397  0.112820
17  July          97  0.306645  0.285952

In [25]:
data_smi = [['May',3,0.151657,41.20],['June',3,0.0650379,54.3],['July',3,0.135063,42.25],['August',3,0.845704,166.45],
            ['May',5,0.151657,41.20],['June',5,0.0650379,54.3],['July',5,0.135063,42.25],['August',5,0.845704,166.45],
            ['May',48,0.162878,41.20],['June',48,0.0409779,54.3],['July',48,0.138233,42.25],['August',48,0.677873,166.45],
            ['May',50,0.162878,41.20],['June',50,0.0409779,54.3],['July',50,0.138233,42.25],['August',50,0.677873,166.45],
            ['May',94,0.186076,41.20],['June',94,0.11282,54.3],['July',94,0.285952,42.25],['August',94,0.863459,166.45],
            ['May',97,0.186076,41.20],['June',97,0.11282,54.3],['July',97,0.285952,42.25],['August',97,0.863459,166.45]]

In [27]:
df1 =pd.DataFrame(data_smi, columns=["Month", "Polygon_id","SMI","Precipitation"])

In [28]:
df1

     Month  Polygon_id       SMI  Precipitation
0      May           3  0.151657          41.20
1     June           3  0.065038          54.30
2     July           3  0.135063          42.25
3   August           3  0.845704         166.45
4      May           5  0.151657          41.20
5     June           5  0.065038          54.30
6     July           5  0.135063          42.25
7   August           5  0.845704         166.45
8      May          48  0.162878          41.20
9     June          48  0.040978          54.30
10    July          48  0.138233          42.25
11  August          48  0.677873         166.45
12     May          50  0.162878          41.20
13    June          50  0.040978          54.30
14    July          50  0.138233          42.25
15  August          50  0.677873         166.45
16     May          94  0.186076          41.20
17    June          94  0.112820          54.30
18    July          94  0.285952          42.25
19  August          94  0.863459         166.45
20     May          97  0.186076          41.20
21    June          97  0.112820          54.30
22    July          97  0.285952          42.25
23  August          97  0.863459         166.45

## Correlation between SMI and cumulative precipitation

In [35]:
import scipy.stats
x = df1['SMI']
y = df1['Precipitation']
result = scipy.stats.linregress(x, y)

In [36]:
result.pvalue

1.098871312366404e-12

In [37]:
r, p = scipy.stats.pearsonr(x, y)
r

0.9508926192789551

## Correlation between SMI and NDVI

In [38]:
import scipy.stats
x = df_smi['SMI']
y = df_smi['NDVI']
result = scipy.stats.linregress(x, y)

In [39]:
result.pvalue

0.3824544106206711

In [40]:
r, p = scipy.stats.pearsonr(x, y)
r

-0.21906836379867684

## Plotting NDVI values of Polygons of Interest